$color-blue: #11749e;
$color-blue-light: #2e85aa;
$color-gray: #222222;
$color-gray-light: #f3f3f3;

$gotham: "Gotham", "Arial", sans-serif;
$myriad: "MyriadPro", "Arial", sans-serif;
$opensans: "OpenSans", "Arial", sans-serif;
$roboto: "Roboto", "Arial", sans-serif;