<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Template</title>
		//= includes/head.html
	</head>
	<body>
		//= ../blocks/header/header.html
		<main>
			//= ../blocks/banner/banner.html
			//= ../blocks/features/features.html
			//= ../blocks/news/news.html
			//= ../blocks/blog/blog.html
			//= ../blocks/action/action.html
			//= ../blocks/services/services.html
			//= ../blocks/team/team.html
			//= ../blocks/feedback/feedback.html
			//= ../blocks/map/map.html
		</main>
		//= ../blocks/footer/footer.html
		//= includes/scripts.html
	</body>
</html>