@font-face {
  font-family: "MyriadPro";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/MyriadPro/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro/MyriadPro-Regular.woff") format("woff"),
    url("../fonts/Gotham/Gotham-Black.woff2") format("woff2"),
    url("../fonts/MyriadPro/MyriadPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham";
  font-weight: 350;
  src: url("../fonts/Gotham/Gotham-Book.eot");
  src: url("../fonts/Gotham/Gotham-Book.woff") format("woff"),
    url("../fonts/Gotham/Gotham-Book.woff2") format("woff2"),
    url("../fonts/Gotham/Gotham-Book.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham";
  font-weight: 400;
  src: url("../fonts/Gotham/Gotham-Black.eot");
  src: url("../fonts/Gotham/Gotham-Black.woff") format("woff"),
    url("../fonts/Gotham/Gotham-Black.woff2") format("woff2"),
    url("../fonts/Gotham/Gotham-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham";
  font-weight: 500;
  src: url("../fonts/Gotham/Gotham-Medium.eot");
  src: url("../fonts/Gotham/Gotham-Medium.woff") format("woff"),
    url("../fonts/Gotham/Gotham-Medium.woff2") format("woff2"),
    url("../fonts/Gotham/Gotham-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham";
  font-weight: 700;
  src: url("../fonts/Gotham/Gotham-Bold.eot");
  src: url("../fonts/Gotham/Gotham-Bold.woff") format("woff"),
    url("../fonts/Gotham/Gotham-Bold.woff2") format("woff2"),
    url("../fonts/Gotham/Gotham-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("../fonts/Roboto/Roboto-Bold.eot");
  src: url("../fonts/Roboto/Roboto-Bold.woff") format("woff"),
    url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 400;
  src: url("../fonts/OpenSans/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
}
